<template>
  <div class="box">
      <div class="section">{{item.date}}</div>
      <div class="section">{{}}</div>
      <div class="section">{{}}</div>
      <div class="section">{{}}</div>
</template>

<script>
    import moment from 'moment';
export default {
    props:["data"],
    data(){
        return{
            item: { ...this.data,
                date: moment(...this.data.from).toDate()
            }
        }
    }
}
</script>

<style>

</style>