<template>
    <div class="box">
        <h1 class="subtitle">Add shifts</h1>
    </div>
</template>

<script>
import 'buefy/dist/buefy.css'
export default {
    
}
</script>

<style>
.box{
    width: 840px;
    margin: 0 auto;
    min-height: 50vh;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),5px 5px 5px 10px rgba(10,10,10,.02);
}
</style>