<template>
  <div class="box">
    <div class="section">
      <span>{{ dates }}</span>
      <span class="clear">x</span>
      <b-icon type="close-circle"></b-icon>
    </div>
    <div class="details">
      <div class="d-1">
        <div class="d-1s">
          <b-field class="lables" label="From">
            <b-timepicker
              :close="from"
              v-model="time.from"
              icon-right="clock"
            ></b-timepicker>
          </b-field>
        </div>
        <div class="d-1s">
          <b-field class="lables" label="To">
            <b-timepicker
              :close="to"
              v-model="time.to"
              :min-time="time.from"
              icon-right="clock"
            ></b-timepicker>
          </b-field>
        </div>
        <div class="d-1s">
          <b-field class="lables" label="Cost(in Euros)">
            <b-input v-on:blur="price" v-model="time.cost"></b-input>
          </b-field>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: ['date', 'model', 'listid'],
  data() {
    return {
      dates: moment(this.date).toDate(),
      localModel: {
        ...this.model,
      },
      time: {
        id: this.listid,
        cost: '',
        from: '',
        to: '',
      },
    }
  },

  methods: {
    from() {
      if (this.time.cost && this.time.from && this.time.to) {
        this.$emit('time', this.time)
      }
    },
    to() {
      if (this.time.cost && this.time.from && this.time.to) {
        this.$emit('time', this.time)
      }
    },
    price() {
      if (this.time.cost && this.time.from && this.time.to) {
        this.$emit('time', this.time)
      }
    },
  },
}
</script>

<style scoped>
.box {
  width: 500px;
  margin: 0 auto;
}
.details {
  background: grey;
  color: whitesmoke;
  min-height: 30vh;
  border-radius: 6px;
  padding-top: 7px;
}

.section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.d-1 {
  display: flex;
  justify-content: space-around;
}

.d-1s {
  margin-left: 7px;
  margin-right: 7px;
}

.clear {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}
</style>