<template>
    <div class="box">
        <!-- {{ list }} -->
        <div class="flex is-justify-content-space-around">
            <h1 class="subtitle">{{ list.title }}</h1>
            <b-icon icon="edit"></b-icon>
        </div>
        <p>{{ list.description }}</p>
        <h1 class="subtitle">Dates</h1>
        <div v-for="(item, index) in list" :key="index" :data="item">
        <details></details>
        </div>
    </div>
</template>

<script>
import 'buefy/dist/buefy.css'
import Details from './Details'
export default {
    components:[
        Details
    ],
    props:["data"],
    data(){
        return{
            list: {...this.data}
        }
    }
}
</script>

<style>
.box{
    width: 840px;
    margin: 0 auto;
    min-height: 50vh;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),5px 5px 5px 10px rgba(10,10,10,.02);
}
</style>