<template>
    <div class="box">
        <div class="forms">
            <b-field label="Title">
            <b-input v-model="payload.title" maxlength="100"></b-input>
        </b-field>

        <b-field label="Description">
            <b-input v-model="payload.description" maxlength="500"></b-input>
        </b-field>

        <b-field label="Select a date">
        <b-datepicker
            placeholder="Click to select..."
            v-model="model.dates"
            icon-right="calendar-today"
            multiple>
        </b-datepicker>
        </b-field>

        <b-field v-if="model.dates.length">
            <MoreDetails  v-for="(date, index) in model.dates" :key="index" :listid="index" :date="date" @time="getTime" :model="model"></MoreDetails>
        </b-field>
        </div>

         <div class="footer">
            <b-button type="is-primary" @click="deletes">DELETE</b-button>
            <b-button type="is-dark" @click="save">SAVE</b-button>
        </div>
    <div>
</template>
<script>
import MoreDetails from '../components/MoreDetails'
import { mapMutations } from 'vuex'
export default {
    components:[
        MoreDetails
    ],
    data(){
        return{
            model: {
                dates: [],
            },
            payload: {
                title: '',
                description: '',
                list: []
            }
        }
    },

    methods:{
        save(){
            this.$store.commit('saveList', this.payload)
            this.$router.push('/');
        },

        deletes(){

        },

        getTime(time){
            this.payload.list.push({...time})
        }
    }
}
</script>

<style scoped>
.box{
    margin-top: 120px;
}

.forms{
    width: 500px;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: space-around;
    background: none;
}
</style>