<template>
<div>
    <div class="container">
      <h1 class="subtitle">Shifts</h1>
      <b-button type="is-dark" @click="clickMe">Add Shift</b-button>
    </div>
    <div class="section">
     <Empty v-if="!data.length"></Empty>
     <div v-if="data.length">
     <Shifts v-for="(item, index) in data" :key="index" :data="item"></Shifts>
     </div>

    </div>
</div>
</template>

<script>
import 'buefy/dist/buefy.css'
import Empty from '../components/Empty'
import Shifts from '../components/Shifts'

export default {
  components: [
    Empty,
    Shifts
  ],
  data() {
        return {
            data: this.$store.getters.datas
        }
    },
  methods: {
            clickMe() {
                this.$router.push({name: 'add-shift'})
            }
        }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

</style>
